body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(189, 133, 133);
    margin: 0%;
    padding-left: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.card{
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex: 1;
    max-width: 300px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05); 
     
}
.card h2{
    margin: 0;
    font-size: 1.3em;
    color: #333;
    font-weight: 600;
}
.card p{
    color: #665;
    font-weight: bold;
    text-align: center;
}
img{
    width: 300px;
    height: 300px;
}